INFO_files
protected/controllers/AlbumCromoPaginaController.php
protected/controllers/CromosController.php
protected/models/AlbumCromoPagina.php
protected/models/Cromos.php
protected/views/albumCromoPagina/_form.php
protected/views/albumCromoPagina/_search.php
protected/views/albumCromoPagina/_view.php
protected/views/albumCromoPagina/admin.php
protected/views/albumCromoPagina/create.php
protected/views/albumCromoPagina/index.php
protected/views/albumCromoPagina/update.php
protected/views/albumCromoPagina/view.php
protected/views/albumCromoPagina/
protected/views/cromos/_form.php
protected/views/cromos/_search.php
protected/views/cromos/_view.php
protected/views/cromos/admin.php
protected/views/cromos/create.php
protected/views/cromos/index.php
protected/views/cromos/update.php
protected/views/cromos/
protected/views/albums/_form.php
protected/views/albums/_search.php
protected/views/albums/_view.php
protected/views/albums/admin.php
protected/views/albums/create.php
protected/views/albums/update.php
*~